.button {
  display: block;
  padding: 16px 32px;
  background-color: var(--color-brand-normal);
  color: var(--color-primary-light);
  border-radius: 8px;
  border: 2px solid var(--color-brand-normal);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-weight: 600;
  cursor: pointer;

  &:hover {
    background-color: var(--color-primary-light);
    color: var(--color-brand-dark);
  }
  &.button[disabled] {
    color: gray;
    background-color: lightgray;
    border-color: currentColor;
    cursor: not-allowed;
  }
}
