.footer {
  position: relative;
  padding: 32px 0;
  background-color: var(--color-primary-dark);
  background-image: url("../images/footer-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &::after,
  &::before {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    bottom: 0;
  }
  &::before {
    width: 180px;
    height: 120px;
    background-image: url("../images/decor-bread-small.png");
    left: 0;
    // @media screen and (min-width: $bp-tablet) {
    //   background-image: url("../images/decor-bread-small-mobile.png");
    // }
  }
  &::after {
    width: 380px;
    height: 190px;
    background-image: url("../images/decor-bread-large.png");
    right: 0;
    // @media screen and (min-width: $bp-tablet) {
    // }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
    }
  }

  &__nav,
  &__address {
    display: flex;
    flex-direction: column;
    gap: 18px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      flex-direction: row;
      align-self: flex-start;
      gap: 20px;
      text-align: left;
      flex-basis: 50%;
    }
  }

  &__adress-social {
    display: flex;
    gap: 22px;
    justify-content: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: flex-start;
    }
  }

  &__logo,
  &__menu {
    flex-grow: 1;
  }

  &__menu-link {
    margin-bottom: 18px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__address-list,
  &__address-info {
    // flex-grow: 1;
    flex-basis: 50%;
  }

  &__address-link {
    color: var(--color-primary-light);
    font-style: 16px;
    font-weight: 300;
    text-decoration: none;
    margin-bottom: 18px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__address-link:hover {
    color: var(--color-brand-normal);
  }

  &__address-icon {
    fill: var(--color-primary-light);
  }
  &__address-icon:hover {
    fill: var(--color-brand-normal);
  }

  &__address-copyright {
    font-size: 14px;
    color: var(--color-copyright);
  }
}
