.mobile-menu {
  position: fixed;
  z-index: 7;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary-light);
  transform: translateX(+100%);
  transition: transform 0.3s;

  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 176px;
    height: 236px;
    background-image: url("../images/decor-bread-modal.png");
  }

  &__logo {
    position: absolute;
    top: 16px;
    left: 24px;
    width: 72px;
    height: 38px;
  }

  &__menu {
    position: relative;
    top: 86px;
    left: 24px;

    &-link {
      color: var(--color-primary-dark);
      margin-bottom: 16px;
    }
  }
  &.is-open {
    transform: translate(0);
  }

  &__btn-close {
    position: absolute;
    top: 16px;
    right: 24px;
    fill: var(--color-primary-dark);
    border: none;
    background-color: transparent;
  }
}
