.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 0.3s, visibility 0.3s;

  &.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.modal {
  position: relative;
  width: 100%;
  max-width: 880px;
  height: 100%;
  max-height: 880px;
  padding: 48px;
  background-color: var(--color-primary-light);
  border-radius: 32px;
  overflow-y: auto;
  margin: 20px;
  &::after {
    position: absolute;
    content: "";
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    width: 176px;
    height: 236px;
    background-image: url("../images/decor-bread-modal.png");
  }

  @media screen and (min-width: $bp-mobile) {
    padding: 68px;
  }
  @media screen and (min-width: $bp-tablet) {
    padding: 128px;
  }

  &__btn-close {
    position: absolute;
    right: 40px;
    top: 40px;
    border: none;
    width: 32px;
    height: 32px;
    background-color: transparent;
    fill: var(--color-primary-dark);
  }
  &__form-field {
    margin-bottom: 16px;
    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 32px;
    }
  }
  &__button {
    margin: 0 auto 24px;
  }
}
